-
  const fieldsCB = [
    formFilelds.phone,
    formFilelds.name,
  ]

mixin modal-callback
  +modal("modal-cb").modal-callback
    +form(data-form="").modal-callback__grid
      h3.modal-callback__title Оставьте ваши данные и мы #[br] Вам перезвоним в течение дня
      .modal-callback__grid-group
        each item in fieldsCB
          +field-text({
            isTextarea: item.isTextarea,
            attrs: {
              placeholder: item.attrs.placeholder,
              required: true,
              type: item.attrs.type,
              minlength: item.attrs.minlength,
              min: item.attrs.min,
              pattern: item.attrs.pattern,
              'data-pristine-required-message': " ",
              'data-pristine-minlength-message': item.attrs['data-pristine-minlength-message'],
              'data-pristine-min-message': item.attrs['data-pristine-min-message'],
              'data-pristine-pattern-message': item.attrs['data-pristine-pattern-message'],
              "data-number-only": item.attrs['data-number-only'],
              "data-pristine-email-message": item.attrs["data-pristine-email-message"],
              "data-pristine-equals-message": item.attrs["data-pristine-email-message"],
              "data-pristine-equals": item.attrs["data-pristine-equals"]
            }
          }).required
        a.btn.btn--main.modal-callback__btn(data-form-btn="" data-fancybox-src="#modal-complete") Отправить
      +field-checkbox([
        {
          title: 'Я даю свое согласие на обработку <a href="#">персональных данных</a>',
          attrs: {
            name: 'check0',
            required: true,
            'data-pristine-required-message': " ",
            checked: "",
          }
        },
      ]).required

