include ../blocks/shared/config/utils.pug
include ../blocks/shared/config/navigation.pug
include ../blocks/shared/config/mixins.pug

include ../blocks/shared/ui/form/form.pug
include ../blocks/shared/ui/field-text/field-text.pug
include ../blocks/shared/ui/field-checkbox/field-checkbox.pug
include ../blocks/shared/ui/burger/burger.pug
include ../blocks/shared/ui/btn-sound/btn-sound.pug
include ../blocks/shared/ui/logo/logo.pug
include ../blocks/shared/ui/modal/modal.pug

include ../blocks/entities/footer-nav/footer-nav.pug
include ../blocks/entities/contacts/contacts.pug
include ../blocks/entities/quest/quest.pug
include ../blocks/entities/product/product.pug
include ../blocks/entities/rev-img/rev-img.pug
include ../blocks/entities/static-calculator/static-calculator
include ../blocks/entities/statistics/statistics
include ../blocks/entities/soc-fix/soc-fix

include ../blocks/feature/block-info/block-info

include ../blocks/widgets/block-type/block-type.pug
include ../blocks/widgets/page-footer/page-footer.pug
include ../blocks/widgets/page-header/page-header.pug
include ../blocks/widgets/form-inspection/form-inspection.pug
include ../blocks/widgets/content-statistics/content-statistics
include ../blocks/widgets/tasks/tasks
include ../blocks/widgets/promo/promo

include ../blocks/widgets/modals/modal-menu/modal-menu
include ../blocks/widgets/modals/modal-callback/modal-callback
include ../blocks/widgets/modals/modal-callback/modal-callback-complete
