.page-footer__top {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $screen-xl) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.page-footer__nav {
  gap: 17px;

  @media (min-width: $screen-xl) {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 80px;
  }
}
