-
  const footerNav = [
    {
      title: 'Для юридических лиц',
      list: [
        "Уборка офисов и магазинов",
        "Уборка помещений и паркингов",
        "Уборка учебных кабинетов",
        "Мойка фасадов зданий",
        "Уборка и вывоз снега",
      ]
    },
    {
      title: 'Для физических лиц',
      list: [
        "Генеральная уборка квартиры",
        "Генеральная уборка дома",
        "Поддерживающая уборка квартиры",
        "Поддерживающая уборка домов",
        "Послестроительная уборка дома",
        "Послестроительная уборка квартиры",
        "Ген уборка перед рождением ребенка",
        "Мойка окон в Уфе от 200 р/ств.",
        "Мойка бассейнов в Уфе",
      ]
    },
    {
      title: 'Химчистка',
      list: [
        "Химчистка ковров и ковролина",
        "Химчистка мебели",
        "Химчистка матраса",
      ]
    },
    {
      title: 'Доп услуги',
      list: [
        "Озонирование помещений",
        "Устранение плесени озоном",
        "Уничтожение клопов",
        "Устранение запаха",
        "Сертификаты на уборку",
        "Вакансии",
        "Цель и миссия компании",
      ]
    }
  ]

  const contactFooter = [
    {
      name: 'Адрес:',
      icon: 'point',
      value: 'Уфа, Менделеева д. 60А',
    },
    {
      name: 'Телефон:',
      icon: 'phone-2',
      value: numberPhone.text,
      href: numberPhone.href,
    },
    {
      name: 'E-mail:',
      icon: 'mail',
      value: contactEmail.text,
      href: contactEmail.href,
    },
  ]

  const messengers = [
    {
      icon: "whatsapp",
      href: "https://wa.me/79196039770",
      color: 'wp'
    },
    {
      icon: "telegram",
      href: "https://t.me/chistograd_ufa",
      color: 'tg'
    }
  ]

  const social = [
    {
      icon: "vk",
      href: "https://vk.com/kliningchistograd"
    },
    {
      icon: "facebook",
      href: "https://www.facebook.com/chistoufa.ru/"
    },
    {
      icon: "youtube",
      href: "https://www.youtube.com/channel/UCY4suKs5RWp8HjyzK1DDIeg"
    },
  ]

  const productList = [
    {
      title: 'Поломоечная машина',
      desc: "Поломоечная машина \"Клининг Эксперт BVV 60 BD\" предназначена для быстрой  и качественной уборки напольных поверхностей в офисах, магазинах, торговых центрах, складах и в производственных помещениях",
      img: 'img/content/product-1.jpg'
    },
    {
      title: 'Роторная машина',
      desc: "Однодисковая роторная машина Kedi Teste 43 Single Discrubber прекрасный выбор для механизированной очистки пола в небольших помещениях. Однодисковая размывочная машина сетевая Kedi Teste 43 + щетка жесткая мягкая щетка + падодержатель",
      img: 'img/content/product-2.jpg'
    },
    {
      title: 'Buzil',
      desc: "BUZIL - это моющие средства для профессионального клининга: уникальные средства для абсолютной чистоты с заботой о поверхности.100% немецкое качество от завода со столетней историей BUZIL.",
      img: 'img/content/product-3.jpg'
    },
    {
      title: 'Поломоечная машина',
      desc: "Поломоечная машина \"Клининг Эксперт BVV 60 BD\" предназначена для быстрой  и качественной уборки напольных поверхностей в офисах, магазинах, торговых центрах, складах и в производственных помещениях",
      img: 'img/content/product-1.jpg'
    },
  ]
