mixin promo
  .promo
    video(src="video/bg-chistograd.mp4" poster="img/decor/promo-1.jpg" autoplay muted="" loop data-video="").promo__video
    .container
      section.promo__content
        h1.promo__title Бесплатный выезд на&nbsp;осмотр
        .promo__desc
          p Выведем персонал через 4 дня после заключения договора
        a.btn.btn--main.promo__btn(href="#modal-cb" data-fancybox="") Заказать выезд
